@import "normalize";

// <ШРИФТЫ> ======================================================================

// &display=swap&subset=cyrillic-ext

@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700&display=swap&subset=cyrillic-ext");

@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

@import "fonts";

// <Шрифт по умолчанию> ======================================================================
$fontFamily: "Roboto";
// <Шрифт по умолчанию> ======================================================================

// <ШРИФТЫ> ======================================================================

// <Переменные> ======================================================================
$minWidth: 320px;
$maxWidth: 1400px;
$maxWidthContainer: 1180px;
// <Переменные> ======================================================================

* {
    box-sizing: border-box;
}

._container {
    max-width: $maxWidthContainer;
    margin: 0 auto;
    padding: 0px 20px;
}