// <ШРИФТЫ> ======================================================================
// &display=swap&subset=cyrillic-ext
@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700,900&display=swap&subset=cyrillic-ext");

@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}
@import "fonts";
// <Шрифт по умолчанию> ======================================================================
$fontFamily: "Roboto";
// <Шрифт по умолчанию> ======================================================================
// <ШРИФТЫ> ======================================================================

// <Переменные> ======================================================================
$minWidth: 320px;
$maxWidth: 1400px;
$maxWidthContainer: 1180px;
$md1: 1192px;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;
// <Переменные> ======================================================================

// <Общие параметры> ======================================================================
@import "normalize";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul,
li {
    list-style-type: none;
}
.wrapper {
    width: 100%;
    min-height: 100%;
    // overflow: hidden;
    display: flex;
    flex-direction: column;
    &._loaded {
    }
}
._container {
    max-width: $maxWidthContainer;
    margin: 0 auto;
    padding: 0px 20px;
    @media (max-width: $md3) {
        padding: 0px 10px;
    }
}
// <Общие параметры> ======================================================================

@import "header";
@import "home";

// <-- ОСНОВНОЙ БЛОК --> =====================================================================================
.page {
    padding: 160px 0px 0px 0px;
    flex: 1 1 auto;
    @media (max-width: $md3) {
        padding: 133px 0px 0px 0px;
    }
    @media (max-width: 640px) {
        padding: 85px 0px 0px 0px;;
    }
    &__container {
        @media (min-width: $md2){
            display: flex;
        }  
    }
    &__side {
        flex: 0 0 260px;
        @media (max-width: $md2){
            margin-bottom: 30px;
        }
    }
    &__menu {
        margin: 0px 0px 40px 0px;
    }
    &__content {
        @media (min-width: $md2){
            flex: 1 1 auto;
            padding: 0px 0px 0px 30px;
        }      
    }
    &__search {
        margin: 0px 0px 22px 0px;
    }
    &__banner {
        margin: 0px 0px 65px 0px;
    }
    &__news-side {
        margin: 0px 0px 75px;
        &:last-child{
            margin: 0px 0px 0px 0px;
        }
    }
    &__reviews-side {
    }
}
// =========================================================
.menu-page {
    background: url("../img/bg_menu.jpg") top repeat;
    position: relative;
    &__header {
        padding: 20px;
        display: flex;
        align-items: center;
    }
    &__title {
        flex: 1 1 auto;
        color: #fff;
        font-family: "UniSans";
        line-height: 1.15em;
        font-size: 30px;
        text-transform: uppercase;
        letter-spacing: 0.75px;
    }
    &__burger {
        flex: 0 0 36px;
        width: 36px;
        height: 36px;
        background-color: #068292;
        position: relative;
        cursor: pointer;
        z-index: 5;
        span {
            position: absolute;
            background-color: #fff;
            left: 5px;
            width: 26px;
            height: 2px;
            top: calc(50% - 1px);
            transition: all 0.3s ease 0s;
        }
        &::before,
        &::after {
            content: "";
            background-color: #fff;
            position: absolute;
            width: 26px;
            height: 2px;
            left: 5px;
            transition: all 0.3s ease 0s;
        }
        &::before {
            top: 8px;
        }
        &::after {
            bottom: 8px;
        }
        &_active {
            span {
                transform: scale(0);
            }
            &::before {
                transform: rotate(45deg);
                top: 17px;
            }
            &::after {
                transform: rotate(-45deg);
                bottom: 17px;
            }
        }
    }
    &__body {
        display: none;
    }
    &__list {
        > li {
            border-bottom: 1px solid #1aa7b9;
        }
    }
    &__parent {
        .menu-page__link {
            &::after {
                content: "";
                position: absolute;
                right: 10px;
                top: 50%;
                width: 14px;
                height: 14px;
                transform: translate(0px, -50%);
                background: url("../img/menu_arrow.png") 0 0 no-repeat;
                @media (max-width: $md2) {
                    display: none;
                }
            }
        }
        &._active {
            .submenu-page__item {
                z-index: 5;
                transform: translate(0px, 0px);
            }
            .menu-page__link {
                background-color: #098494;
            }
            .submenu-page {
                visibility: visible;
            }
        }
    }
    &__link {
        text-decoration: none;
        letter-spacing: 0.3px;
        font-weight: 300;
        font-size: 12px;
        color: #fff;
        display: block;
        padding: 12px 20px;
        font-family: $fontFamily;
        position: relative;
        &:hover {
            background-color: #098494;
        }
        @media (max-width: $md3) {
            font-size: 14px;
            padding: 10px;
        }
    }
    &__submenu {
        width: 100%;
        position: absolute;
        top: 0;
        height: 100%;
        left: 100%;
        overflow: hidden;
        @media (max-width: $md2) {
            display: none;
        }
    }
}
.submenu-page {
    visibility: hidden;
    &__item {
        width: 280px;
        border: 2px solid #098494;
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0%;
        transition: all 0.3s ease 0s;
        transform: translate(-100%, 0px);
    }
    &__menu {
        border-bottom: 1px solid #dedede;
        padding: 20px 0px;
        li {
        }
    }
    &__link {
        text-decoration: none;
        display: block;
        color: #1aa7b9;
        font-size: 12px;
        font-weight: 300;
        font-family: $fontFamily;
        letter-spacing: 0.3px;
        padding: 10px 40px;
        @media (min-width: $md2) {
            &:hover {
                background-color: #71c7d3;
                color: #fff;
            }
        }
    }
    &__product {
        padding: 0px 15px;
    }
}
.item-product {
    padding: 15px;
    position: relative;
    &__labels {
        position: absolute;
        left: 15px;
        top: 15px;
    }
    &__label {
        font-family: $fontFamily;
        color: #fff;
        margin: 0px 0px 5px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 15px;
        font-weight: 900;
        height: 24px;
        text-transform: uppercase;
        background-color: #fd8424;
        border-radius: 15px;
    }
    &__image {
        height: 195px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0px;
        img {
            max-width: 100%;
            max-height: 175px;
        }
    }
    &__body {
        padding: 0px 10px;
    }
    &__title {
        text-decoration: none;
        font-family: $fontFamily;
        color: #36949f;
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        display: inline-block;
        margin: 0px 0px 5px 0px;
        @media (min-width: $md2) {
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    &__old-price {
        flex: 1 1 100%;
        color: #999999;
        font-family: $fontFamily;
        font-size: 18px;
        font-weight: 300;
        text-decoration: line-through;
        text-align: right;
    }
    &__add {
        width: 40px;
        height: 40px;
        background: url("../img/icons/cart_gray.png") 0 0 no-repeat;
    }
    &__price {
        color: #333333;
        font-family: $fontFamily;
        font-size: 24px;
        font-weight: 900;
    }
}
// =========================================================
.search-page {
    display: flex;
    position: relative;
    z-index: 4;
    &__select {
        display: flex;
        background-color: #f3f3f3;
        padding: 0px 14px;
        align-items: center;
        @media (max-width: $md3) {
            display: none;
        }
    }
    &__title {
        cursor: pointer;
        color: #666666;
        font-family: $fontFamily;
        font-weight: 300;
        display: flex;
        align-items: center;
        transition: all 0.3s ease 0s;
        @media (max-width: $md3){
            font-size: 14px;
        }
        span {
            border-bottom: 1px dashed;
            margin: 0px 13px;
            &:last-child {
                display: none;
            }
            @media (max-width: $md3){
                margin: 0px 7px;
            }
        }
        &::before {
            content: "";
            width: 17px;
            height: 17px;
            background: url("../img/icons/search_page.png") 50% 50% no-repeat;
        }
        &::after {
            content: "";
            width: 10px;
            height: 10px;
            background: url("../img/icons/search_page_arrow.png") 0 0 no-repeat;
        }
        &._active { 
            &::after{
                transform: rotate(-180deg);
            }
        }
        &._categories{
            span {
                display: none;
                &:last-child{
                    display: block;
                }
            }
        }
    }
    &__categories {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
    }
    &__input {
        font-family: $fontFamily;
        flex: 1 1 auto;
        height: 39px;
        input {
            border-top: 2px solid #f2f2f2;
            border-bottom: 2px solid #f2f2f2;
            border-left: none;
            border-right: none;
            width: 100%;
            height: 100%;
            padding: 0 20px;
            outline: none;
            @media (max-width: $md3) {
                border-left: 2px solid #f2f2f2;
            }
        }
    }
    &__btn {
    }
}
.categories-search {
    display: none;
    background-color: #fff;
    border-right: 1px solid #f3f3f3;
    border-left: 1px solid #f3f3f3;
    border-bottom: 4px solid #f68038;
    cursor: default;
    &__row {
        display: flex;
        @media (max-width: 568px){
            flex-direction: column;
        }
    }
    &__column {
        flex: 0 1 33.333%;
        padding: 27px 40px;
        border-right: 1px solid #f3f3f3;
        &:last-child {
            border: 0;
        }
        @media (max-width: $md3){
            padding: 10px 20px;
        }
    }
    &__list {
        li {
            margin: 0px 0px 20px 0px;
            &:last-child {
                margin: 0px 0px 0px 0px;
            }
        }
    }
    &__checkbox {
    }
    &__link {
        text-decoration: none;
        color: #999999;
        @media (max-width: $md3) {
            font-size: 14px;
        }
    }
}
.checkbox {
    &__input {
        display: none;
        &:checked + .checkbox__text {
            color: #f68038;
        }
    }
    &__text {
        cursor: pointer;
        font-family: $fontFamily;
        font-size: 14px;
        font-weight: 300;
        color: #999;
    }
}
.btn {
    border: none;
    display: inline-flex;
    padding: 0px 25px;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease 0s;
    height: 39px;
    font-family: $fontFamily;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
    font-weight: 900;
    background-color: #f68038;
    color: #fff;
    @media (min-width: $md2) {
        &:hover {
            background-color: #b86029;
        }
    }
}
// =========================================================
.side-title {
    font-family: "UniSans";
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    color: #dadada;
    text-decoration: none;
    &:hover{
        color: #1ab9ce;
    }
}
.news-side {
    &__title {
        display: inline-block;
        margin-bottom: 0.8em;
    }
    &__label{
        display: inline-block;
        font-family: $fontFamily;
        font-size: 12px;
        font-weight: 900;
        text-transform: uppercase;
        line-height: 18px;
        color: #333333;
        text-decoration: none;
        margin-bottom: 20px;
        &:hover{
        color: #fd8322;
        }
    }
    &__items {
        
    }
    &__item {
        margin: 0px 0px 45px 0px;
        &:last-child{
            margin: 0px 0px 0px 0px;
        }
    }
    &__body {
        display: flex;
    }
    &__data {
        flex: 0 0 30px;
        text-align: center;
        font-family: $fontFamily;
        font-size: 18px;
        font-weight: 300;
        line-height: 18px;
        color: #d8d8d8;
        span {
            font-weight: 900;
            font-size: 24px;
            display: block;
        }
    }
    &__text {
        font-family: $fontFamily;
        font-size: 14px;
        font-weight: 300;
        line-height: 18px;
        color: #666666;
        padding: 0px 0px 0px 15px;
    }
}
// =========================================================
.reviews-side {
    &__title {
        display: inline-block;
        margin-bottom: 0.6em;
    }
    &__items {
    }
    &__item {
        display: block;
        text-decoration: none;
        margin: 0px 0px 45px 0px;
        &:last-child{
            margin: 0px 0px 0px 0px;
        }
        &:hover{
            .reviews-side__user,
            .reviews-side__data{
                color: #1ab9ce;
            }
            .reviews-side__body{
                background-color: #1ab9ce;
                color: #fff;
                &::before{
                    color: #64deee;
                }
            }
        }
    }
    &__header {
        display: flex;
        justify-content: space-between;
        margin: 0px 0px 10px 0px;
    }
    &__user {
        font-family: $fontFamily;
        font-size: 12px;
        font-weight: 900;
        text-transform: uppercase;
        line-height: 18px;
        color: #333333;
        &:hover{
            color: #1ab9ce;
        }
    }
    &__data {
        font-family: $fontFamily;
        font-size: 12px;
        font-weight: 300;
        line-height: 18px;
        color: #999999;
    }
    &__body {
        padding: 14px 8px 14px 30px;
        position: relative;
        &::before{
            color: #dadada;
            font-size: 48px;
            font-weight: 900;
            content: '"';
            position: absolute;
            left: 8px;
            top: 12px;
            line-height: 1;
        }
        font-family: $fontFamily;
        font-size: 12px;
        font-weight: 300;
        line-height: 18px;
        color: #666666;
    }
}
// <-- ОСНОВНОЙ БЛОК --> =====================================================================================
